.app {
  font-family: sans-serif;
  text-align: center;
}

.field {
  border: 1px solid black;
}

.ceil {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  float: left;
}

.ceilBlack {
  background: grey;
}
.ceilGreen {
  background: green;
}
